* {
  box-sizing: border-box;
}

body {
  background: #606060;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

#root {
  width: 100%;
  max-width: 420px;
}

.container {
  background: #fff;
  border-radius: 14px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

h1 {
  font-weight: 600;
  font-size: 28px;
  margin: 0 0 20px;
  text-align: center;
}

input {
  width: 260px;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 18px;
  margin: auto 15px;
  border-radius: 8px;
  border: none;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

button:hover {
  opacity: .9;
  background-color: #000000;
  color: #ccc;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

.todo-item span {
  cursor: pointer;
  font-size: 15px;
}

.todo-item button {
  background: transparent;
  color: #dd4444;
  padding: 4px 8px;
  font-size: 14px;
}
